.inner {
  background: aliceblue;  /* enable to see the maximum staging area */
}

input[type=radio] {
background-color: transparent;
border: 0.25vmin solid rgba(55, 55, 255, 0.5);
border-radius: 50%;
box-shadow: inset 0 0 0 0 white;
cursor: pointer;
font: inherit;
height: 3.2vmin;
outline: none;
width: 3.2vmin;
-moz-appearance: none;
-webkit-appearance: none;
vertical-align: bottom;
}
input[type=radio]:checked {
background-color: rgba(55, 55, 55, 1);
box-shadow: inset 0 0 0 0.1875em #47d1da;
-webkit-transition: background 0.15s, box-shadow 0.1s;
transition: background 0.15s, box-shadow 0.1s;
}

.questions {
  width: 37.5vmin;
  font-size: 72%;
  line-height: 1.25;
}

ol ol {
  margin: 1vmin;
  padding: 0;
  list-style-type: none;
}

ol li {
  margin: 2vmin 0;
}

ol li > ul li {
  list-style-type: none;
  padding: 0;
  margin: 0.5vmin 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}