.publisher {
  max-height: 70vmax;
}

.footnote {
  text-align: center;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 3.5vw;
}

.pad-vertically{
	padding: 10vmin 0;
}

h1#title {
  font-size: 5.5vmin;
  margin: 0 auto;
}

h2 {
  font-size: 4.5vmin;
  margin: 0 auto;
}