@charset "UTF-8";

@supports (padding: max(0px)) {
  body,
  footer,
  header {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}


body {
  min-height: fill-available;
}

html,
body {
  background: #fff;
  margin: 0 0;
  overflow: hidden;
  color: #000;
  height: 100vh;
  width: 100vmin;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-synthesis: none;
  font-stretch: ultra-condensed;
  font-variant: no-common-ligatures proportional-nums slashed-zero;
  font-size: 3.6vmin;
  line-height: calc(3.6vmin * 1.50);
  font-kerning: normal;
  text-rendering: geometricPrecision;
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  text-align: center;
  line-height: calc(1.5 * 4vmin * 1.50);
}

h5,
h6 {
  line-height: calc(1 * 4vmin * 1.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Berkshire Swash', cursive;
  margin: 0 0;
  padding: 0;
  color: #000;
  font-weight: 100;
}

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 6vmin;
}

h3 {
  font-size: 5vmin;
}

h4 {
  font-size: 4vmin;
  color: rgba(100, 100, 100, 0.85);
}

h5 {
  font-size: 3vmin;
}

h6 {
  font-size: 2.5vmin;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display:block;
  margin: calc(1/2 * 4vmin * 1.50) auto;

}

a {
  color: #0077ff;
  outline: 0 none;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: 0 none;
  color: #070;
}

a:active {
  text-shadow: 0 0 2px #fff;
}

p {
  text-indent: 0;
  margin: 0 0 0 0;
}

blockquote {
  text-align: center;
  font-style: italic;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  margin: calc( 1/2 * (150vh *(1115/1443))/100 * 7/5) auto;
  margin: calc( 1/2 * 4vmin * 1.50) 0;
  margin: 0 0;
  display: inline-block;
  width: 100%;
}

blockquote p, blockquote em {
  margin: 0 auto !important;
}

hr.section {
  border: 0;
  text-align: center;
  height: calc(4vmin * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vmin * 1.50)/2) 0;
}

hr.section::after {
  content: "";
}

hr.section::before {
  content: "❦";
  color: black;
}

hr.chapter {
  border: 0;
  text-align: center;
  height: calc(4vmin * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vmin * 1.50)/2) 0;
}

hr.chapter::after {
  content: " ";
}

hr.chapter::before {
  content: "❦";
  color: black;
}

hr {
  border: 0;
  text-align: center;
  height: calc(4vmin * 1.50);
  /* Take a break of two lines only. */
  margin: calc((4vmin * 1.50)/2) 0;
}

hr::after {
  content: "";
}

hr::before {
  content: "❦";
  color: black;
}

/* Clearfix*/
.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


/* Page specific wrapper classes. */

.leaf {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vmin;
  margin: auto;
}

.inner {
  margin: 5vmax auto;
  margin: 0;
  width: 100vmin;
  height: 90vmax;
  /* max-height: calc(17 * (4vmin * 1.5) + 4vmin); */
  break-after: right;
  display:inline-block;
  /* background: aliceblue;   */
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 2.5vmin;
}

.justify {
  text-align: justify;
}


/* Helper classes */

.uppercase {
  text-transform: uppercase;
}

.pad-vertically {
  padding: calc(4vmin * 1) 0;
}

.center {
  text-align: center;
  margin: inherit auto;
}

.small {
  font-size: 80%;
}

header {
  height: 50vmax;
  width: 100vmin;
  display: inline-block;
  /* background-color: #efefef; */
  max-height: 50vmax;
}

div.notifier {
  width: 70vmin;
  border-radius: 1.5vmin;
  border: 1vmin solid rgba(255, 255, 255, 0.15);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  z-index: 5;
  cursor: move;
  padding: 1vmin 5vmin;
  background-color: rgba(31, 130, 229, 0.2);
  font-size: 70%;
  line-height: 1.25;
  position: relative;
  margin: 5vmax auto;
  color: slateblue; 
}

div.notifier:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(0.5vmin);
  -webkit-filter: blur(0.5vmin);
  -moz-filter: blur(0.5vmin);
  -o-filter: blur(0.5vmin);
  -ms-filter: blur(0.5vmin);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

.notifier > ul {
  margin: 0;
  padding: 0;
  list-style: circle;
}

.notifier > ul li {
  margin: 0 0 0 4vmin;
  padding: 0;
}

.half {
  max-height: 50vmax;
  overflow: hidden;
}

.full {
  max-height: 100vmax;
  overflow: hidden;
}

.yellow {
  background-color: rgb(252, 252, 106);
}

input[type="radio"] {
  background-color: transparent;
  border: 0.25vmin solid rgba(255, 55, 55, 0.5);
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgb(51, 48, 48);
  cursor: pointer;
  font: inherit;
  height: 3vmin;
  outline: none;
  width: 3vmin;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-color: rgba(255, 55, 55, 0.5);
  box-shadow: inset 0 0 0 0.1875vmax orangered;
  -webkit-transition: background 0.15s, box-shadow 0.1s;
  transition: background 0.15s, box-shadow 0.1s;
}

.quiz {
  height: inherit;
  width: inherit;
}

.questions {
  width: 42vmin;
  font-size: calc(42vmin/18);
  line-height: 1.25;
}

ol.que {
  list-style-type: none;
  counter-reset: step-counter calc(var(--start) - 1);
}

ol.que > li {
  counter-increment: step-counter;
}

ol.que > li::before {
  content: counter(step-counter)".\00a0 ";
  margin: 0;
}

ol, ul {
	padding: 0.5vmin;
  margin: 0 0.5vmin;
}

ol li {
  margin: 2vmin 0;
  padding: 0;
}

ol li > ul li, ol.que li > ul li {
  list-style-type: none;
  padding: 0;
  margin: 0.5vmin 0;
}

ol ol {
  margin: 1vmin 0;
  padding: 0;
  list-style-type: none;
}