.leaf {
    background-image: url(https://raw.githubusercontent.com/marvindanig/mcqs-in-physiology/master/assets/images/milad-fakurian-58Z17lnVS4U-unsplash.jpg);
    background-size: 200% 100%;
    background-position: left center;
    position: relative;
  }
  
  