.leaf {
    background-image: url(https://raw.githubusercontent.com/marvindanig/mcqs-in-physiology/master/assets/images/milad-fakurian-58Z17lnVS4U-unsplash.jpg);
    background-size: 200% 100%;
    background-position: left center;
    position: relative;
  }
  
  .notifier {
    position: absolute;
    bottom: 10vmin;
    width: auto;
    border-radius: 1.5vmin;
    border: 1vmin solid rgba(255, 255, 255, 0.15);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 5;
    cursor: move;
    padding: 3vmin 6vmin;
    background-color: rgba(248, 248, 236, 0.6);
    font-size: 75%;
    line-height: 1.25;
}

div.notifier:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0.5vmin);
    -webkit-filter: blur(0.5vmin);
    -moz-filter: blur(0.5vmin);
    -o-filter: blur(0.5vmin);
    -ms-filter: blur(0.5vmin);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}